.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}

.box {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 50px;
}

.box h1 {
  font-size: 72px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box p {
  font-size: 24px;
  font-weight: 300;
}

.box .img {
  width: 100%;
  height: 500px;
  object-fit: contain;
  animation: move 2s infinite ease alternate;
  /* 
  move => identifier name.
  2s => The animation will take 3 seconds.
  ease => creates a smooth, gradual transition.
  infinite => repeat indefinitely.
  alternate => whem animation ends it will do the same move.
  */
}

@keyframes move {

  /* 
  move the img 15px on the Y axis 
  and at the same time reduces the image
  */
  from {
      transform: translateY(-10px);
  }

  to {
      transform: translateY(0px);
  }
}
/* Mobile */
@media (max-width: 1200px) {
  .container {
    gap: 50px;
    flex-direction: column;
  }

  .box .img {
    width: 100%;
    height: 400px;
    margin-bottom: 12px;
  }

  .box {
    justify-content: center;
    align-items: center;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}