.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.box {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 50px;
}

.box h1 {
  font-size: 72px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box p {
  font-size: 24px;
  font-weight: 300;
}

.box button {
  padding: 20px;
  cursor: pointer;
  color: white;
  width: max-content;
  border: none;
  border-radius: 5px;
  background-color: #53c28b;
}


.box .img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}