.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.links_mobile {
    display: none;
    z-index: 2;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    height: 380px;
    align-items: center;
    position: absolute;
    left: 22.5%;
    top: 59px;
    right: 0px;
    padding-top: 8px;
}

.links_mobile_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.links_mobile_box hr {
    margin: 0 auto;
    width: 75%;
    color: #53c28b;
    background-color: #53c28b;
}


.single_link:hover {
    color: #53c58b;
    transition: 800ms;
}

.logout_button {
    padding: 5px;
    bottom: none;
    color: white;
    border-radius: 3px;
    background-color: #53c58b;
    cursor: pointer;
    border: none;
}

.dark_mode_box{
    display: flex;
    gap: 20px;
    align-items: center;
}

.burger {
    display: none;
}

.burger i {
    font-size: 24px;
}



@media (max-width: 1200px) {
    .container {
        height: 60px;
        position: relative;
    }

    .links {
        display: none;
    }

    .links_mobile {
        display: flex;
    }

    .single_link:hover {
        color: inherit;
        transition: none;
    }

    .burger {
        display: block;
    }
}