.container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.single_link:hover {
    color: #53c58b;
    transition: 800ms;
}

.logout_button {
    padding: 5px;
    bottom: none;
    color: white;
    border-radius: 3px;
    background-color: #53c58b;
    cursor: pointer;
}