.container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding-bottom: 8px;
}

.social_icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.image_box {
    width: 25px;
    height: 25px;
    position: relative;
}

.single_icon:hover {
    opacity: 0.6;
    transition: 500ms;
    cursor: pointer;
}